/*
Author: Volk
Author URI: http://volk.io
*/
#wfei_plugin_head{
min-width:300px;
max-width:550px;
margin:10px 0px 30px 0px;
}

span.fetch{
text-indent:-999900px;
display:inline-block;
width:18px;
height:18px;
margin:0px 4px;  
cursor:pointer;  
float:left;
}

span.updated{
text-indent:-999900px;
display:inline-block;
width:18px;
height:18px;
margin:0px 4px;  
cursor:pointer;  
float:left;
}

span.remove{
text-indent:-999900px;
display:inline-block;
width:18px;
height:18px;
margin:0px 4px;  
cursor:pointer; 
float:left;
}


li.fb_event_page{text-indent:20px;  font-weight:900; font-size:1.2em; display:block; padding:10px; }

.button.fb,.button.fb:hover{
background:#3B5998;  
background-size:16px 16px;
background-position:5px center;
text-indent:16px;
padding-top:5px;      
border:0px;
color:#fff;
font-weight:900;
height:35px;      
}

h3 .pro{color:#0075A2; font-style:italic; font-size:20px;}


#wfei_events_wrap,#wpfbe_style_editor{
background:#fcfcfc;
  padding:10px;
  margin:20px 20px 0px 0px;
  border:solid 1px #E8E8E8;
}
input.button-secondary{}
.loader{display:inline-block; position:relative; top:7px;left:5px; display: none;}

#facebook_event_fields input{margin:5px;}
#facebook_event_fields label{width:130px; display:inline-block; }

/* Admin Styles */
.wp-picker-container a{ min-height:24px;}
.wpfbe_style_picker{float:left; margin:10px 20px 10px 20px; max-width:200px;}

#wpfbe_style_editor label{
 display:block;
  height:30px;
  font-size:12px;
  margin-bottom:10px;
}

